body{
	font-size:11pt;
}
table{
	width:100%;
	font-size:11pt;
	border-width:0px;
	background-color:#666666;
}
th{
	height:25px;
	background-color:#cccccc;
}
tr{
	height:25px;
	background-color:white;
	text-align:center;
}
td{
	text-align:center;	
}
input{
	border:1px black groove;
	height:20px;
}
.nob{
	border:0px;	
}
textarea{
	border:1px black solid;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
#marginTop {
	margin-top: 20px;
}



